.skills__container{
    text-align: center;
  }
  
  .skills{
      display: grid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8rem;
      width: 100%;
  }
      
  .ch-grid {
      padding: 0;
      list-style: none;
      justify-content: center;
  }
        
  .ch-grid:after,
  .circle:before {
      content: '';
      display: table;
  }
        
  .ch-grid:after {
      clear: both;
  }
        
  .ch-grid li {
      width: 160px;
      height: 160px;
      display: inline-block;
      margin: 10px;
  }
    
  .circle {
      width: 100%;
      height: 95%;
      margin-top: 2rem;
    /*border-radius: 50%;*/
      overflow: hidden;
      position: relative;
      cursor: pointer;
      box-shadow: 
        inset 0 0 0 10px var(--color-bg-variant),
        0 1px 2px rgba(0,0,0,0.1);
      transition: all 0.1s ease-in-out;
      border: 1rem solid var(--color-primary);
      
          
    }
  .ch-img { 
      position: absolute;
      width: 45%;
      height: 45%;
      left: 27%;
      top: 28%;
      color: #000;
    }
          
  .ch-info {
      position: absolute;
      background: rgba(255, 255, 255, 0.017);
      width: 100%;
      height: 100%;
      text-align: center;
      /*border-radius: 50%;*/
      overflow: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      transform: scale(0);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
    }
    /*
          
  .ch-info h3 {
      color: var(--color-white);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
      margin: 0px 30px;
      padding: 40px 0 0 0;
    }*/
          
      .ch-info p {
      color: var(--color-white);
      font-variant: small-caps;
      padding: 5px 5px;
      margin: 35px 20px;
      font-size: 1rem;
      opacity: 0;
      transition: all 1s ease-in-out 0.1s;
    }
          
      .circle:hover {
      box-shadow: 
      inset 0 0 0 1px rgba(255,255,255,0.1),
      0 1px 2px rgba(0,0,0,0.1);
      background-color: var(--color-bg-variant);
    }
          
      .circle:hover .mask.full  {
      display: none;
    }
          
      .circle:hover .mask .fill  {
      display: none;
    }
          
      .circle:hover .ch-info {
      transform: scale(1);
      opacity: 1;
    }
          
      .circle:hover .ch-info p {
      opacity: 1;
  }
          
      .circle .mask,
      .circle .fill {
      width: 160px;
      height: 160px;
      position: absolute;
      border-radius: 50%;
    }
          
      .circle .mask {
      clip: rect(0px, 160px, 160px, 80px);
    }
          
      .mask .fill {
      clip: rect(0px, 80px, 160px, 0px);
      background-color: #475263;
    }
          
      .mask.full,
      .circle .fill {
      animation: fill ease-in-out 3s;
    }
          
          @keyframes fill{
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: var(--to-deg);
          }
        }
  
          
    
    
     
  
  /* MEDIA QUERIES(MEDIUM DEVICES) */
  @media screen and (max-width: 1024px){
      .skills__container{
          grid-template-columns: 1fr;
      }
  
      .skills__container > div{
      width: 80%;
      padding: 1rem;
      margin: 0 auto;
      }
      
   }
  /* MEDIA QUERIES (SMALL DEVICES) */
   @media screen and (max-width: 600px){
   .skills__container{
      grid-template-columns: 1fr;
   }
    .skills__container > div{
      width: 80%;
    }
  
  
  }
  