footer{
    background: linear-gradient(90deg, var(--color-primary) 0.97%, var(--color-bg));
    /*border-top: 3px dotted var(--color-bg-variant);*/
    padding: 4rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    background-color: var(--color-bg);
   
}

footer a{
    color: var(--color-bg);
}

.footer__logo{
    width: 4rem;
    margin-bottom: 1rem;
    display: inline-block;

   /* background-color: var(--color-bg);
    border-radius: 10%;*/
    /*padding: 0.8rem;*/
    /*border: 1px solid var(--color-white);*/
    
}
/*
.icon__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    }
    
    .icon__socials::after{
        content: '';
        width: 1px;
        height: 2rem;
        background: var(--color-primary);
    }*/

.social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 2rem;
}

ul.social-list li#icons a .icon {
    position: relative;
    transition: .5s;
    color: var(--color-white);
    width: 1rem;
    height: 1.5rem;
    margin-bottom: 5px;
   
}

.icon{
    z-index: 1;

}

#icons a{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color-yellow);
    background-color: var(--color-bg-variant);
}

    ul.social-list li#icons a .icon {
    position: relative;
    transition: .5s;
   }

   ul.social-list li#icons a.icon:hover .icon {
    transform: rotateY(360deg);

    }
    
    ul.social-list li#icons a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    }
    
    ul.social-list li#icons a:hover:before {
    top: 0;
    }
    
    ul.social-list li#icons:nth-child(1) a:before{
    background: var( --color-primary);
    
    }
    
    ul.social-list li#icons:nth-child(2) a:before{
    background: var( --color-primary);
    
    }
    
    ul.social-list li#icons:nth-child(3) a:before{
    background:  var( --color-primary);
    }

    ul.social-list li#icons:nth-child(4) a:before{
        background:  var( --color-primary);
    }


/* MEDIA QUERIES (SMALL DEVICES) */
 @media screen and (max-width: 600px){

.footer__socials{
    margin-bottom: 2.6rem;
  }

  ul.social-list{
   display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 8rem;
    gap: 5px;
}
ul.social-list li#icons a .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -1rem;
}

#icons a{
    width: 60px;
    height: 60px;
    
    }

};

