nav{
    
    background:  var(--color-bg);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    background:  linear-gradient(90deg, #64777d85 0.97%, #eae7de84);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.136);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: var(--color-dark);
    display: flex;
    font-size: 1.1rem;
}

nav a:hover{
    background:var(--color-primary);
    color: var(--color-white);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

